@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    width: 100% !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.image-container {
  margin-bottom: 20px; /* Increase or decrease for row spacing */
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}
